<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.custom.netflix.tv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/netflix_logo"
        android:label="Netflix Support"
        android:supportsRtl="true"
        android:theme="@style/Theme.NetflixTVWrapper"
        android:banner="@drawable/tv_banner">
        
        <activity
            android:name=".MainActivity"
            android:banner="@drawable/tv_banner"
            android:icon="@drawable/netflix_logo"
            android:label="Netflix"
            android:logo="@drawable/tv_banner"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>



        <!-- Ghost Orientation Service -->
        <service 
            android:name=".OrientationService" 
            android:exported="false" />

    </application>

</manifest>
